@using System.Security.Claims
<!--
    TITULO: VISTA EDIT
    AUTOR: ADRIEL HERRERA

    DESCRIPCION: La estructura de la vista se basa en un contenedor principal
    (main_div_edit) que aloja todos los demás contenedores. Luego, este
    contenedor se divide en otros dos: header_edit (para el titulo) y
    body_edit (para el cuerpo en si de la historia).
-->

@{
    ViewData["Title"] = "Edit story";
}
@model WriteTogether.Models.DB.Story

<html>
    <head>
        <link rel="stylesheet" href="~/css/Edit.css" />
    </head>
    <body>
        <!--ESTE DIV CONTIENE TODO LO DEMAS-->
    <input type="hidden" id="story_id" value="@Model.IdSt" />

        <div id="main_div_edit">
            <div id="header_edit"><!--DIV PARA EL TITULO DE LA HISTORIA-->
            <input id="title_edit_input" value="@Model.TitleSt" />

                <div id="header_options_edit">
                    <div id="editbar">Status: in progress</div>
                    <div id="head_stars" >
                        <div class="star2"></div>
                        <div class="star2"></div>
                        <div class="star2"></div>
                        <div class="star2"></div>
                        <div class="star2"></div>
                    </div>
                    <div class="editbarbut">Publish</div>
                    <div class="editbarbut">Upload photo</div>
                </div>
            </div>

            <!--DIV PARA EL CUERPO DE LA PAGINA-->
            <div id="body_edit">

                <!--DIV PARA LA INFORMACION DE LA HISTORIA-->
                <div id="info_edit">
                <div id="info_text_edit">

                    <input type="hidden"
                           id="story_author_id"
                           value="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" />

                    <p>Author: @User.Identity?.Name</p>

                    <p>Collaborators:</p>
                    <ul>
                        <li>Alejandra Castillo</li>
                    </ul>
                </div>
                <div class="tagtitle">Category</div>
                <select id="story_category_id" class="tu-clase-para-selects">
                    <option value="1">Fantasy</option>
                    <option value="2">Romance</option>
                    <option value="3">Mistery</option>
                    <option value="4">Scifi</option>
                    <option value="5">Horror</option>
                    <option value="6">Adventure</option>
                    <option value="7">Drama</option>
                    <option value="8">Comedy</option>
                    <option value="9">Historical</option>
                    <option value="10">Thriller</option>
                </select>
                    <div id="info_tags_edit">
                        <div class="tagtitle">Tags</div>
                        <div id="info_tags_box">
                            <!--MOD 1
                            <div class="info_tags">Tag1<div class="xtag">x</div></div>
                            <div class="info_tags">Tag2<div class="xtag">x</div></div>
                            <div class="info_tags">Tag3<div class="xtag">x</div></div>
                        -->
                        </div>
                        <div class="tagtitle">Add new tag</div>
                    <div id="info_add_tags_edit"><div id="input_tag"><input type="text" placeholder="Type a tag..." id="add_tag" /><div class="xtag" style="font-size: 30px;" onclick="addTag()">+</div></div></div>
                        <div class="tagtitle">Story rating</div>
                        <div class="add_stars">
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                        </div>
                    </div>
                    
                </div>

                <!--ESTE DIV ES EL ESPACIO DE EDICION DONDE SE ESCRIBE LA HISTORIA-->
                <div id="text_edit">
                <div id="notebook_edit">
                    @foreach (var fragment in Model.Fragments.OrderBy(f => f.IdFr))
                    {
                        <div class="history_fragment">
                            <div class="frag_user">@fragment.AutorFrNavigation  @fragment.DateUs</div>
                            <div class="frag_text">@fragment.ContentFr</div>
                        </div>
                    }
                </div>

                    <div id="type_edit">
                        <textarea id="input_story" placeholder="Type something..."></textarea>
                        <div id="buttons_ia_edit">
                            <div class="buttons_ia" onclick="addFrag()">Submit</div>
                            <div class="buttons_ia">AI correction</div>
                            <div class="buttons_ia">Correct asll story</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
<div id="response-container"></div>

<button onclick="askGemini('Cuéntame un chiste')">Probar Gemini</button>
</html>

<!--
    TITULO DE LA MODIFICACION: CONTENEDORES PARA LA EDICION DE LA HISTORIA (HTML)
    NUMERO DE MODIFICACION: 1
    AUTOR: ADRIEL HERRERA


    DESCRIPCION: Esta nueva actualizacion se va a centrar en crear las clases
    para la instancia de divs, como cuando alguien va a escribir una nueva parte
    de la historia o va agregar una nueva etiqueta.

    |
    |
    |
    |
    V

-->
<script src="~/js/Querys.js" asp-append-version="true"></script>
<script src="~/js/Edit.js" asp-append-version="true"></script>
