@model WriteTogether.Models.DB.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameUs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvatarUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvatarUs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUs">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
